{% load ui_extras %}
{% load i18n %}

{% include 'checks/available_suppliers.html' %}

{% if not license.payu_available %}
<div class="alert habitam-alert" id="admin-online-payments">
<a class="close habitam-alert-close" href="#">&times;</a>
{% blocktrans %}
Plata online pentru întreținere nu a fost configurată pentru clădirile
administrate de dumneavostră. Vă rugăm luați legătura cu noi.
{% endblocktrans %}
<br>
<a class="btn btn-warning btn-mini" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
</div>
{% endif %}

{% if license.available_buildings %}

{% if license.apartment_count >= license.max_apartments %}
<div class="alert habitam-alert" id="admin-license-full">
<a class="close habitam-alert-close" data-dismiss="alert" href="#">&times;</a>
{% blocktrans %}
Licența dumneavoastră nu mai permite adăguarea de apartamente noi. Vă rugăm
luați legătura cu noi.
{% endblocktrans %}
<br>
<a class="btn btn-warning btn-mini" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
</div>
{% endif %}

<div class="row-fluid">
{% if license.available_buildings %}
{% top_entities license.top_buildings 10 as top_buildings %}
<div class="span6">
<legend>
<a href="{% url 'buildings' %}">{% trans 'top clădiri' %}</a>
</legend>
<ul>
	{% for building in top_buildings %}
	<li>
	<a href="{% url 'apartment_list' building.id %}">
	<span class="badge badge-info pull-right" title="{% blocktrans with building_name=building.name ap_count=building.apartment_count %}Clădirea {{ building_name }} are {{ ap_count }} apartamente{% endblocktrans %}">{{ building.apartment_count }}</span>
	{{ building.name }}
	</a>
	</li> 
	{% endfor %}
</ul>
</div>
{% endif %}

{% if license.available_suppliers %}
{% top_entities license.top_suppliers 10 as top_suppliers %}
<div class="span5 {% if license.available_buildings %}offset1{% else %}offset7{% endif %}">
<legend>
<a href="{% url 'suppliers' %}">{% trans 'top furnizori' %}</a>
</legend>
<ul>
	{% for supplier in top_suppliers %}
	{% if not supplier.archived and not supplier.one_time %}
	<li>
	<a href="{% url 'supplier_view' supplier.id %}">
	<span class="badge badge-info pull-right" title="{% blocktrans with supplier_name=supplier.name service_count=supplier.service_count %}Furnizorul {{ supplier_name }} este folosit de {{ service_count }} servicii{% endblocktrans %}">{{ supplier.service_count }}</span>
	{{ supplier.name }}
	</a>
	</li>
	{% endif %}
	{% endfor %}	
</ul>
</div>
{% endif %}
</div>

{% else %}

<div class="alert alert-info hidden-phone">
{% blocktrans %}
Nu ați definit nici o clădire de administrat.
{% endblocktrans %}
<br>
<a class="btn btn-info btn-mini" href="javascript:editDialog('{% url 'new_building' %}');">{% trans 'Clădire nouă' %}</a>
</div>

{% endif %}