{% load ui_extras %}


{% owner_apartments user.email as owned_apartments %}

{% if owned_apartments %}

<div class="row-fluid">
<div class="span6">
<legend>
apartamentele mele
</legend>
<ul>
	{% for building in owned_apartments|unique_buildings %}
	<li>
	<span class="pull-right">
	{% owner_debt building user.email as debt %}
	{% if debt > 0 %}
		<span class="label label-warning">
		de plată: {{ debt }}
		</span>
	{% else %}
		<span class="label label-info">
		nimic de plată
		</span>
	{% endif %}
		<a class="btn btn-small" href="#">
		Plătește online
		</a>
	</span>
	<a href="{% url 'apartment_list' building.id %}">
	<span class="badge badge-info pull-right" title="Clădirea {{ building.name }} are {{ building.apartment_count }} apartamente">{{ building.apartment_count }}</span>
	{{ building.name }}
	</a>
	</li>
	{% endfor %}
</ul>
</div>
</div>
{% else %}

{% if not license %}
<div class="alert">
<a class="close" data-dismiss="alert" href="#">&times;</a>
Doriți să încercați aplicația noastră? Vă oferim gratuit o licență de evaluare,
disponibilă imediat ce apăsați butonul de mai jos.
<br>
<a class="btn btn-warning btn-small" href="javascript:editDialog('{% url 'trial_request' %}')">Începeți evaluarea</a>
</div>

<div class="alert alert-info">
Nu dețineți nici un apartament administrat prin această aplicație. Vă rugăm să
luați legătura cu administratorul dumnevoastră și să îi cereți să asocieze unui
apartament adresa dumneavostră de email <strong>{{ user.email }}</strong>.
</div>
{% endif %}

{% endif %}