{% extends 'building.html' %} 

{% block building_body %}
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>Apartament</th>
			<th>Etaj</th>
			<th>Proprietar</th>
			<th>Nr. camere</th>
			<th>Nr. persoane</th>
			<th>Suprafață</th>
			<th>Balanță</th>
			<th>Penalități</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for sc in building.apartmentgroup_set.all %}
			<tr>
				<td>&nbsp;</td>
				<th colspan="9">Scara {{ sc.name }}</th>
				<td>
					<div class="btn-group">
					    {% if sc.can_delete %}<button class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'edit_staircase' entity_id=sc.id %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
						<button class="btn btn-mini" type="button" onclick="editDialog('{% url 'edit_staircase' entity_id=sc.id %}')"><i class="icon-edit"></i> Modifică</button>
					</div>
				</td>
			</tr>
			{% for ap in sc.apartment_set.all %}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{ ap.name }}</td>
				<td>{{ ap.floor }}</td>
				<td>{{ ap.owner }}</td>
				<td>{{ ap.rooms }}</td>
				<td>{{ ap.inhabitance }}</td>
				<td>{{ ap.area }}</td>
				<td class="{% if ap.balance < 0 %}negative_balance{% else %}positive_balance{% endif %}">{{ ap.balance|floatformat:2 }}</td>
				<td class="{% if ap.penalties < 0 %}negative_balance{% else %}positive_balance{% endif %}">{{ ap.penalties|floatformat:2 }}</td>
				<td>
					<div class="btn-toolbar btn-toolbar-apartment">
						<div class="btn-group">
							<button class="btn btn-mini" type="button" onclick="window.location='{% url 'operation_list' building_id=building.id account_id=ap.account.id %}'"><i class="icon-list-alt"></i> Operațiuni</button>
							<button class="btn btn-mini btn-inverse" type="button" onclick="editDialog('{% url 'new_payment' entity_id=ap.id %}')"><i class="icon-plus-sign icon-white"></i> Încasează</button>
						</div>
						<div class="btn-group">
						    {% if ap.can_delete %}<button class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'edit_apartment' entity_id=ap.id %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
		   				 		<i class="icon-edit"></i>
		   				 		Modifică
		    					<span class="caret"></span>
		  					</a>
		  					<ul class="dropdown-menu">
			  					<li><a href="javascript:editDialog('{% url 'edit_apartment' entity_id=ap.id %}')">apartament</a></li>
			  					<li><a href="javascript:editDialog('{% url 'edit_owner' entity_id=ap.owner.id %}')">proprietar</a></li>
		  					</ul>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %} 
		{% endfor %}
	</tbody>
</table>
<div class="container">
	<div class="btn-group pull-right">
		{% with license=user.administrator.license %}
		{% if license.apartment_count < license.max_apartments %}
		<button class="btn btn-info" type="button" onclick="editDialog('{% url 'new_apartment' building.id %}')">Apartament nou</button>
		{% endif %}
		{% endwith %}
		<button class="btn btn-info" type="button" onclick="editDialog('{% url 'new_staircase' building.id %}')">Scară nouă</button>
	</div>
</div>
{% endblock %}
