{% extends 'building.html' %} 

{% block building_body %}
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>Apartament</th>
			<th>Etaj</th>
			<th>Proprietar</th>
			<th>Nr. camere</th>
			<th>Nr. persoane</th>
			<th>Suprafață</th>
			<th>Balanță</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for sc in building.apartmentgroup_set.all %}
			<tr>
				<td>&nbsp;</td>
				<th colspan="8">Scara {{ sc.name }}</th>
				<td>
					<button class="btn btn-mini" type="button" onclick="editDialog('{% url 'edit_staircase' entity_id=sc.id %}')">Modifică</button>
				    {% if sc.can_delete %}<button class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'edit_staircase' entity_id=sc.id %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
				</td>
			</tr>
			{% for ap in sc.apartment_set.all %}
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>{{ ap.name }}</td>
				<td>{{ ap.floor }}</td>
				<td>{{ ap.owner }}</td>
				<td>{{ ap.rooms }}</td>
				<td>{{ ap.inhabitance }}</td>
				<td>{{ ap.area }}</td>
				<td class="{% if ap.balance < 0 %}negative_balance{% else %}positive_balance{% endif %}">{{ ap.balance }}</td>
				<td>
					<button class="btn btn-mini" type="button"  onclick="window.location='{% url 'operation_list' account_id=ap.account.id %}'">Operațiuni</button>
					<button class="btn btn-mini" type="button" onclick="editDialog('{% url 'edit_apartment' entity_id=ap.id %}')">Modifică</button>
					<button class="btn btn-mini btn-inverse" type="button" onclick="editDialog('{% url 'new_payment' apartment_id=ap.id %}')">Încasează</button>
				    {% if ap.can_delete %}<button class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'edit_apartment' entity_id=ap.id %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
				</td>
			</tr>
			{% endfor %} 
		{% endfor %}
	</tbody>
</table>
<div class="container">
	<div class="pull-right">
		<button class="btn btn-info" type="button" onclick="editDialog('{% url 'new_apartment' building.id %}')">Apartament nou</button>
		<button class="btn btn-info" type="button" onclick="editDialog('{% url 'new_staircase' building.id %}')">Scară nouă</button>
	</div>
</div>
{% endblock %}
