{% load staticfiles %}
{% load ui_extras %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Habitam</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="{% static 'ui/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'ui/css/main.css' %}">
<link rel="stylesheet"
	href="{% static 'ui/css/bootstrap-responsive.min.css' %}">
<link rel="stylesheet" href="{% static 'ui/css/datepicker.css' %}">

<script src="{% static 'ui/js/jquery.min.js' %}"></script>
<script src="{% static 'ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.form.js' %}"></script>
<script src="{% static 'ui/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ui/js/jquery.form.js' %}"></script>
<script src="{% static 'ui/js/jquery.cookie.js' %}"></script>
<script src="{% static 'ui/js/bootstrap-datepicker.js' %}"></script>


</head>
<body>
	<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
	        <a class="habitam-brand brand" href="{% url 'home' %}"><img src="{% static 'ui/img/habitam-logo-header.png' %}"></a>
	        {% if user.is_authenticated %}
	        	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
		        <div class="nav-collapse collapse">
		        	<ul class="nav pull-right">
				        <li class="dropdown">
				        	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{ user }} <b class="caret"></b></a>
				        	<ul class="dropdown-menu" style="padding: 10px;">
								{% include 'user_popup.html' %}
							</ul>
				        </li>
		        	</ul>
		            <ul class="nav">
				        {% with license=user.administrator.license %}
			            <li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clădiri <b class="caret"></b></a>
				            <ul class="dropdown-menu">
				            {% if license.apartment_count < license.max_apartments %}
					            <li><a href="javascript:editDialog('{% url 'new_building' %}');">Clădire nouă</a> 
					        {% endif %}
					        	<li><a href="{% url 'buildings' %}">Toate clădirile</a></li>
					            <li class="divider"></li>
								{% for building in license.available_buildings %}
									<li><a href="{% url 'apartment_list' building.id %}">{{ building.name }}</a></li>
								{% endfor %}
				            </ul>
			            </li>
			            <li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Furnizori <b class="caret"></b></a>
				            <ul class="dropdown-menu">
				            	<li><a href="javascript:editDialog('{% url 'new_supplier' %}');">Furnizor nou</a></li>
					        	<li><a href="{% url 'suppliers' %}">Toți furnizorii</a></li>
				            	<li class="divider"></li>
				            	{% for supplier in license.available_suppliers %}
				            	{% if not supplier.archived and not supplier.one_time %}
				            		<li><a href="{% url 'supplier_view' supplier.id %}">{{ supplier.name }}</a>
				            	{% endif %}	
				            	{% endfor %}
				            </ul>
				        </li>
				        <li><a href="#">Instrucțiuni</a></li>
				        <li><a href="{% url 'contact' %}">Contact</a></li>
					    {% endwith %}
		            </ul>
		        </div>
	        {% endif %}
        </div>
    </div>
</div>

<div class="container">
{% block body %}{% endblock %}
</div>

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
	<div class="modal-header">
		<h3><span id="editTitle"></span></h3>
	</div>
  
	<div id="modalBody" class="modal-body">
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Anulează</button>
		<button id="submitButton" class="btn btn-success">Salvează</button>
	</div>	
</div>

<div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
	<div class="modal-body">
		<p>Sunteți sigur că vreți să ștergeți?</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Nu</button>
		<button id="deleteButton" class="btn btn-danger">Da</button>
	</div>	
</div>

<script>
function delete_click(path, success) {
	var csrftoken = $.cookie('csrftoken');
	$('#deleteButton').click(function() {
		$.ajax({
			type: "DELETE",
			url: path,
			beforeSend: function(xhr, settings) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		    } 
		}).done(function() {
			if (typeof success === 'undefined')
				location.reload();
			else
				location.replace(success);
		});
	});
}

function editDialog(path) {
	$('#modalBody').load(path);
	$('#editModal').modal();
}
</script>
</body>
</html>