{% extends 'building.html' %}
{% load staticfiles %} 

{% block building_body %}
<div class="content">
	<div class="row-fluid">
		<div class="span8 ">
			
			<div class="field_value">
			<div class="field_title">Adresa</div>
			{{ building.buildingdetails.address }}
			</div>
			
			<div class="field_value">
			<div class="field_title">Observații</div>
			{{ building.buildingdetails.notes }}
			</div>
			
		</div>
		<div class="span4 hidden-phone">
			<img src="{% static 'ui/img/habitam-worker-hires.png' %}">
		</div>
	</div>
</div>
{% endblock %}