{% extends 'base.html' %} 

{% block body %}
<div class="container">
	<ul>
		{% for building in buildings %}
		<li>{{building.name}} 
			<ul>
				<li><a href="{% url 'apartment_list' building.id %}">Apartamente</a></li>
				<li><a href="{% url 'fund_list' building.id %}">Fonduri</a></li>
				<li>
				<a href="{% url 'service_list' building.id %}">Servicii</a>
				<button class="btn btn-mini" type="button" onclick="window.location='{% url 'new_service' building.id %}'">Serviciu nou</button>
				</li>
			</ul>
		</li>
		{% endfor %}
	</ul>
	<button class="btn" type="button" onclick="window.location='{% url 'new_building' %}'">Bloc nou</button>
</div>
{% endblock %}