{% extends 'base.html' %} 
{% load ui_extras %}

{% block body %}
<div class="container">
	<legend>
		<a href="javascript:editDialog('{% url 'edit_building' entity_id=building.id %}')">{{ building.name }}</a>
		<span class="btn-group pull-right hidden-phone">
			{% with license=user.administrator.license %}
			{% available_list_months building user.administrator.license as alm %}
			{% comment %}
			<div class="btn-group">
				<a class="btn" href="{% url 'download_balance' building_id=building.id %}">Sold</a>
				<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  				<ul class="dropdown-menu">
				{% for m in alm %}
					<li><a href="{% url 'download_balance' building_id=building.id month=m|date:"Y-m" %}">{{ m|date:"F Y" }}</a></li>
				{% endfor %}
  				</ul>
			</div>
			{% endcomment %}
			<div class="btn-group">
				<a class="btn" href="{% url 'download_register' building_id=building.id %}">Registru</a>
				<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
  				<ul class="dropdown-menu">
				{% for m in alm %}
					<li><a href="{% url 'download_register' building_id=building.id month=m|date:"Y-m" %}">{{ m|date:"F Y" }}</a></li>
				{% endfor %}
  				</ul>
			</div>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    			Listă	
	    			<span class="caret"></span>
	  			</a>
			  	<ul class="dropdown-menu">

				{% for m in alm %}
				{% list_downloaded building m as ld %}
					<li>
					<a {% if not ld %}class="confirmListDownload"{% endif %} href="{% url 'download_list' building_id=building.id month=m|date:"Y-m" %}" month="{{ m|date:"Y-m" }}">
					<i class="icon-check" {% if not ld %}style="visibility: hidden"{% endif %}></i>
					{{ m|date:"F Y" }}
					</a>
					</li>
				{% endfor %}		
				</ul>
			</div>
			<div class="btn-group">
				{% if building.can_delete %}<button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'edit_building' entity_id=building.id %}', '{% url 'home' %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
			</div>
			{% endwith %}
		</span>	
	</legend>
</div>
<div class="container">
	{% include 'checks/available_suppliers.html' %}
	{% if user.administrator.license.available_suppliers and not building.services %}
	<div class="alert hidden-phone">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		Nu există nici un serviciu (de ex., "apă caldă") definit pentru această
		clădire. Înainte de a putea adăuga intrări la lista de întreținere,
		trebuie să definiți câteva servicii.
		<br>
		<button type="button" class="btn-warning btn-small" onclick="editDialog('{% url 'new_billable_general' building.id %}')">Serviciu nou</button>
	</div>
	{% endif %}
	{% if building.needs_bootstrap %}
	<div class="alert alert-info hidden-phone">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		Nu există nici o operațiune înregistrată pentru apartamentele din
		această clădire. <em>{{ building.name }}</em> este un bloc nou și doriți să
		introduceți soldurile inițiale?
		<br>
		<button type="button" class="btn-info btn-small" onclick="editDialog('{% url 'upload_initial_operations' building.id %}')">Importați din Excel</button>	
		{% if building.apartments|length < 10 %}
		<button type="button" class="btn-info btn-small" onclick="editDialog('{% url 'initial_operations' building.id %}')">Introduceți</button>
		{% endif %}
	</div>
	{% endif %}
	<ul class="nav nav-tabs">
		<li {% if active_tab = 'building_view' %}class="active"{% endif %}><a href="{% url 'building_view' building.id %}">Despre</a></li>
		<li {% if active_tab = 'apartment_list' %}class="active"{% endif %}><a href="{% url 'apartment_list' building.id %}">Apartamente</a></li>
		<li {% if active_tab = 'fund_list' %}class="active"{% endif %}><a href="{% url 'fund_list' building.id %}">Conturi</a></li>
		<li {% if active_tab = 'collecting_fund_list' %}class="active"{% endif %}><a href="{% url 'collecting_fund_list' building.id %}">Fonduri</a></li>
		<li {% if active_tab = 'service_list' %}class="active"{% endif %}><a href="{% url 'service_list' building.id %}">Servicii</a></li>
	</ul>
	<div class="tab-content tab-content-building">
		{% block building_body %}
		{% endblock %}
	</div>
</div>

<div id="listDownloadDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="listConfirmLabel" aria-hidden="true"> 
	<div class="modal-header">
		<h3><span id="listConfirmTitle">Sunteți sigur?</span></h3>
	</div>
  
	<div class="modal-body">
		<p>Sunteți sigur că vreți să descărcați lista?</p>
		
		{% if building.payment_due_days != None and building.payment_due_days > 0 %}
		<p>Dacă da, apartamentele vor avea obligația să plătească întreținerea în 
		{{building|penalty_collect}} zile, altfel vom începe 
		aplicarea de penalități.</p>
		{% endif %}
		
		<span class="services-without-invoice"></span>
	</div>

	<div class="modal-footer">
		<button id="downloadListButton" class="btn btn-success">Sunt sigur</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Anulează</button>
	</div>	
</div>

<script type="text/javascript">
var services_without_invoice = {
{% with license=user.administrator.license %}
{% available_list_months building user.administrator.license as alm %}
{% for m in alm %}
	'{{ m|date:"Y-m" }}': [
	{% services_without_invoice building m as services %}
	{% for service in services %}
		'{{ service.name }}', 
	{% endfor %}
	], 
{% endfor %}
{% endwith %}
};

$(".confirmListDownload").click(function(e) {
	e.preventDefault();
	var targetUrl = $(this).attr('href');
	var icon = $(this).children('i');
	var month = $(this).attr('month');
	var services = services_without_invoice[month];
    var html = '';
    
    if (services.length == 1)
    	html = '<p>Atenție, serviciul ' + services[0] + ' nu are factură pentru această lună. Puteți introduce una <a href="{% url 'service_list' building.id %}">aici</a>.</p>';
    if (services.length > 1) {
    	html = '<p>Atenție, serviciile: <ul>';
    	for (i = 0; i < services.length; i++)
    		html += '<li>' + services[i] + '</li>';
    	html += '</ul>nu au factură pentru această lună. Puteți introduce una <a href="{% url 'service_list' building.id %}">aici</a>.</p>';
    }
    
    $('.services-without-invoice').html(html);

	$('#downloadListButton').click(function () {
		icon.css('visibility', 'visible');
		$('#listDownloadDialog').modal('hide');
		
		window.location.href = targetUrl;	
    });
	
	$('#listDownloadDialog').modal();
});
</script>

{% endblock %}