{% extends 'base.html' %} 

{% block body %}
<div class="container">
	<ul class="nav nav-tabs">
		<li {% if active_tab = 'apartment_list' %}class="active"{% endif %}><a href="{% url 'apartment_list' building.id %}">Apartamente</a></li>
		<li {% if active_tab = 'fund_list' %}class="active"{% endif %}><a href="{% url 'fund_list' building.id %}">Fonduri</a></li>
		<li {% if active_tab = 'service_list' %}class="active"{% endif %}><a href="{% url 'service_list' building.id %}">Servicii</a></li>
	</ul>
	<div class="tab-content">
		{% block building_body %}
		{% endblock %}
	</div>
</div>

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
	<div class="modal-header">
		<h3><span id="editTitle"></span></h3>
	</div>
  
	<div id="modalBody" class="modal-body">
	</div>

	<div class="modal-footer">
		<button id="submitButton" class="btn">Salvează</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Anulează</button>
	</div>	
</div>

<script>
function editDialog(path) {
	$('#modalBody').load(path);
	$('#editModal').modal();
}
</script>
{% endblock %}