<div id="editFormContainer">
	<form id="editForm" class="form-horizontal" method="post"
		action="{% if parent_id %}{% if entity_id %}{% url target parent_id entity_id %}{% else %}{% url target parent_id %}{% endif %}{% else %}{% if entity_id %}{% url target entity_id %}{% else %}{% url target %}{% endif %}{% endif %}">
		{% include 'form.html' %}
	</form>
</div>

<script>
function refresh_values() {
	$('#id_cmd').val('refresh');
	$('#editForm').submit();
}

submit_clicked = false;

$(document).ready(function() {
	$("#editTitle").text("{{ title }}");

	{% for s in form.spinners %}
	$("#id_{{s}}").filter(":visible").spinner();
	{% endfor %}
	
	{% for s in form.refresh_ids %}
	$('#{{ s }}').change(function() {
		refresh_values();
	});
	{% endfor %}
	
	$('#editForm').ajaxForm({
		target : '#editFormContainer',
	});
	
	$('#submitButton').click(function() {
		if (submit_clicked)
			return false;
		submit_clicked = true;
		$('#id_cmd').val('save');
		$('#editForm').submit();
	});
	
	{% for ap in form.consumption_ids %}
	$('#id_consumption_ap_{{ ap }}').prop('disabled', $('#id_consumption_undeclared_ap_{{ ap }}').is(':checked'));
	$('#id_consumption_undeclared_ap_{{ ap }}').click(function() {
		$('#id_consumption_ap_{{ ap }}').prop('disabled', $(this).is(':checked'));
	});
	{% endfor %}
	
	$('.datepicker').datepicker();
});

$('#editForm').find(':text,:radio,:checkbox,select,textarea').each(function(){
    if(!this.readOnly && !this.disabled &&
                $(this).parentsUntil('form', 'div').css('display') != "none") {
        this.focus();  //Dom method
        this.select(); //Dom method
        return false;
    }
});

</script>