<div id="editFormContainer">
	<form id="editForm" class="form-horizontal" method="post"
		action="{% if parent_id %}{% if entity_id %}{% url target parent_id entity_id %}{% else %}{% url target parent_id %}{% endif %}{% else %}{% if entity_id %}{% url target entity_id %}{% else %}{% url target %}{% endif %}{% endif %}">
	{% include 'form.html' %}
	</form>
</div>

<script>
$(document).ready(function() {
	$("#editTitle").text("{{ title }}");
	{% for s in form.spinners %}
	$("#id_{{s}}").spinner();
	{% endfor %}
	
	$('#editForm').ajaxForm({
		target : '#editFormContainer',
	});
	
	$('#submitButton').click(function() {
		$('#editForm').submit();
	});
});
</script>