{% extends 'left_base.html' %}
{% load ui_extras %}

{% block inner_content %}
<legend>
	{{ entity }}
	<span class="btn-group pull-right">
		<div class="btn-group">
			<button class="btn" onclick="editDialog('{% url edit_name entity_id=entity.id %}')"><i class="icon-edit"></i></button>
			{% if entity.can_delete %}<button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url edit_name entity_id=entity.id %}', '{% url view_name entity.id %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
		</div>
	</span>		
</legend>

Mai multe informații despte {{ entity }}.
{% endblock %}