{% extends 'left_base.html' %} 

{% block inner_content %}
<h1>Bun venit!</h1>

{% include 'checks/available_suppliers.html' %}

{% with license=user.administrator.license %}
{% if license.available_buildings %}

{% if license.apartment_count >= license.max_apartments %}
<div class="alert">
<span class="label label-warning">Atenție!</span> Licența dumneavoastră nu mai
permite adăguarea de apartamente noi. Vă rugăm luați legătura cu
<a href="{% url 'contact' %}">noi</a>.
</div>
{% endif %}

<p class="lead">Alegeți clădirea pe care vreți să o administrați din meniul
de mai sus.</p>

{% else %}

<div class="alert alert-info">
Nu ați adăugat nici o <strong>clădire</strong>. Începeți prin a adăuga 
<a href="javascript:editDialog('{% url 'new_building' %}');">una nouă</a>.
</div>

{% endif %}

{% endwith %}
{% endblock %}