{% extends 'left_base.html' %} 

{% block inner_content %}

	<div class="span7">
		<legend>Autentificare</legend>
		<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
	    	{% csrf_token %}
			{% if form.errors %}
				<div class="alert alert-error">
					Nu am putut verifica credențialele. Încercați din nou.
				</div>
			{% endif %}
			<div class="control-group">
				<label class="control-label" for="id_username">Email</label>
				<div class="controls">
					<div class="input-append">
				    {{ form.username }}
				    <span class="add-on"><i class="icon-envelope"></i></span>
				    </div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="id_password">Parola</label>
				<div class="controls">
					<div class="input-append">
				    {{ form.password }}
				    <span class="add-on"><i class="icon-lock"></i></span>
				    </div>
				</div>
	        </div>
	        <div class="control-group">
	        	<div class="controls">
	        		<a href="{% url 'registration' %}">Cont nou?</a>
	        		<br>
	        		<a href="{% url 'password_reset' %}">Ați uitat parola?</a>
	        		
	        	</div>
	        </div>
	        <div class="control-group">
	        	<div class="controls">
			        <button class="btn btn-primary" type="submit">Intră</button>
			        <input type="hidden" name="next" value="{{ next }}" />
			    </div>
			</div>
	    </form>
	</div>
	<div class="span4 offset1">
	<legend>... sau folosiți</legend>
	<p><a class="btn btn-google-plus input-block-level" href="{% url 'socialauth_begin' 'google-oauth2' %}" style="text-align:left;"><i class="icon-google-plus"></i> | Google</a></p>
	<p><a class="btn btn-facebook input-block-level" href="{% url 'socialauth_begin' 'facebook' %}" style="text-align:left;"><i class="icon-facebook"></i> | Facebook</a></p>
	<p><a class="btn btn-twitter input-block-level" href="{% url 'socialauth_begin' 'twitter' %}" style="text-align:left;"><i class="icon-twitter"></i> | Twitter</a></p>
	<p><a class="btn btn-yahoo btn-info input-block-level" href="{% url 'socialauth_begin' 'yahoo' %}" style="text-align:left;">Yahoo!</a></p>
	
	</div>

{% endblock %}