<div>
	<form class="form-horizontal" method="post" action="{{ SITE }}/users/login-basic/">
    	{% csrf_token %}
		{% if form.errors %}
			<div class="alert alert-error">
				Nu am putut verifica credențialele. Încercați din nou.
			</div>
		{% endif %}
		<div class="control-group">
			<label class="control-label" for="id_username">Utilizator</label>
			<div class="controls">
			    {{ form.username }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="id_password">Parola</label>
			<div class="controls">
			    {{ form.password }}
			</div>
        </div>
        <div class="control-group">
        	<div class="controls">
        		<a class="btn" href="{% url 'registration' %}">Cont nou?</a>
        		<a class="btn" href="{% url 'password_reset' %}">Cont nou?</a>
		        <button class="btn btn-primary" type="submit">Intră</button>
		        <input type="hidden" name="next" value="{{ next }}" />
		    </div>
		</div>
    </form>
</div>