<div class="container">
	<div id="newFormContainer">
		<form id="newForm" class="form-horizontal" method="post"
			action="{% if parent_id %}{% if entity_id %}{% url target parent_id entity_id %}{% else %}{% url target parent_id %}{% endif %}{% else %}{% if entity_id %}{% url target entity_id %}{% else %}{% url target %}{% endif %}{% endif %}">
			{% csrf_token %} 
			{% for hidden in form.hidden_fields %}
		    {{ hidden }}
		    {% endfor %}
			{% for field in form %}
				<div class="control-group {% if field.errors %}error{% endif %}">
					<label class="control-label" for="id_{{ field.html_name }}">{{ field.label_tag }}</label>
					<div class="controls">
						{{ field }}
						{% for error in field.errors %}
							<span class="help-inline">{{ error }}</span>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Salvează</button>
				</div>
			</div>
		</form>
	</div>
	<script>
		{% for s in form.spinners %}
			$("#id_{{s}}").spinner();
		{% endfor %}
		$(document).ready(function() {
			$('#newForm').ajaxForm({
				target : '#newFormContainer',
				success : function() {
					$('#newFormContainer').fadeIn('slow');
				}
			});
		});
	</script>
</div>