{% load ui_extras %}
{% operation_other_party account doc as other %}
{% operation_amount account doc service as amount %}
<tr class="{% op_class doc service %}">
	<td>{{ doc.date|date:"d-m-Y" }}</td>
	<td>
	{{ other }}
	</td>
	<td>{{ doc.list_description }}</td>
	<td class="{% op_amount_class account doc service %}">
		{{ amount|floatformat:2 }}
		{% if account.type == 'apart' and doc.penalties != None %} și {{ doc.penalties }} penalități{% endif %}
	</td>
	<td><a class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'operation_doc' building.id account.id doc.id %}');"><i class="icon-trash icon-white"></i></a></td>
</tr>