{% load ui_extras %}
<tr>
	<td>{{ doc.date|date:"d-m-Y" }}</td>
	<td>{{ other }}</td>
	<td>{{ doc.no }}</td>
	<td class="{% if negative and amount > 0 or not negative and amount < 0 %}negative_balance{% else %}positive_balance{% endif %}">{{ amount | operation_sign:negative }}</td>
	<td><a class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'operation_doc' building.id account.id doc.id %}');"><i class="icon-trash icon-white"></i></a></td>
</tr>