{% extends 'building.html' %} 

{% block building_body %}
<h3>
Operațiuni pentru {{ account.name }} în {{ month|date:"F Y" }}
<span class="btn-group pull-right" style="display: inline-block;">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Luna	
    	<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu">
	{% for m in license.available_months %}
		<li><a href="{% url 'operation_list' building_id=building.id account_id=account.id month=m|date:"Y-m" %}">{{ m|date:"F Y" }}</a></li>
	{% endfor %}
	</ul>
</span>
</h3>
<table class="table table-hover table-condensed">
	<thead>
		<th>Data</th>
		<th>Ordinator</th>
		<th>Document</th>
		<th>Descriere</th>
		<th>Suma</th>
		{% if is_administrator %}
		<th></th>
		{% endif %}
	</thead>
	<tbody>
	<tr>
		<td><em>{{ month|date:"d-m-Y" }}</em></td>
		<td><em>Balanță inițială</em></td>
		<td></td>
		<td class="{% if initial_balance < 0 %}negative_balance{% else %}positive_balance{% endif %}">
			<em>
				{{ initial_balance|floatformat:2 }}
		  		{% if initial_penalties != None %} și {{ initial_penalties|floatformat:2 }} penalități{% endif %}
			</em>
		</td>
		{% if is_administrator %}
		<td></td>
		{% endif %}
	</tr>
	{% for doc in docs %}
		{% include 'operation_row.html' with doc=doc %}
	{% endfor %}
	<tr>
		<td><em>{{ month_end|date:"d-m-Y" }}</em></td>
		<td><em>Balanță finală</em></td>
		<td></td>
		<td class="{% if final_balance < 0 %}negative_balance{% else %}positive_balance{% endif %}">
			<em>
		  		{{ final_balance|floatformat:2 }}
		  		{% if final_penalties != None %} și {{ final_penalties|floatformat:2 }} penalități{% endif %}
		  	</em>
		</td>
		{% if is_administrator %}
		<td></td>
		{% endif %}
	</tr>
	</tbody>
</table>
{% endblock %}
