{% extends 'left_base.html' %} 
{% load i18n %} 

{% block inner_content %}
<legend>{% trans 'Ați uitat parola?' %}</legend>

<p>
{% blocktrans %}
Completați adresa dumneavostră de email mai jos, iar noi vă vom trimite
instrucțiunile pe care trebuie să le urmați pentru a vă reseta parola.
{% endblocktrans %}
</p>

<form class="form-horizontal" action="" method="post">
{% include 'form.html' %}
	<div class="control-group">
    	<div class="controls">
			<button class="btn btn-primary" type="submit">{% trans 'Trimite' %}</button>
		</div>
	</div>
</form>
{% endblock %}