{% extends 'base.html' %} 

{% block body %}
<div class="container">

<legend>Ați uitat parola?</legend>

<p>Completați adresa dumneavostră de email mai jos, iar noi vă vom trimite
instrucțiunile pe care trebuie să le urmați pentru a vă reseta parola.</p>

<form class="form-horizontal" action="" method="post">
{% include 'form.html' %}
	<div class="control-group">
    	<div class="controls">
			<button class="btn btn-primary" type="submit">Trimite</button>
		</div>
	</div>
</form>

</div>
{% endblock %}