{% extends 'left_base.html' %} 
{% load i18n %} 

{% block inner_content %}
<legend>{% trans 'Ați uitat parola?' %}</legend>

<p>
{% blocktrans %}
Introduceți noua parolă mai jos de două ori pentru a vă asigura ca nu faceți
nici o greșeală.
{% endblocktrans %}
</p>

<form class="form-horizontal" action="" method="post">
{% include 'form.html' %}
	<div class="control-group">
    	<div class="controls">
			<button class="btn btn-primary" type="submit">{% trans 'Salvați' %}</button>
		</div>
	</div>
</form>
{% endblock %}