{% extends 'base.html' %} 

{% block body %}
<div class="container">
	<h1>Servicii pentru {{ building.name }}</h1>
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Nume</th>
				<th>Clienți</th>
				<th>Balanță</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
				<tr>
					<td>{{ service.name }}</td>
					<td>{{ service.billed.name }}</td>
					<td>{{ service.balance }}</td>
					<td>
						<button class="btn btn-mini" type="button" onclick="window.location='{% url 'operation_list' account_id=service.account.id %}'">Operațiuni</button>
						<button class="btn btn-mini" type="button" onclick="window.location='{% url 'edit_service' service_id=service.id %}'">Modifică</button>
						<button class="btn btn-mini btn-inverse" type="button" onclick="window.location='{% url 'new_invoice' service_id=service.id %}'">Factură nouă</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
</div>
{% endblock %}