{% extends 'building.html' %} 
{% load ui_extras %}

{% block building_body %}
<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>Nume</th>
			<th class="hidden-phone">Furnizor</th>
			<th class="hidden-phone">Clienți</th>
			<th>Balanță</th>
			{% if is_administrator %}
			<th class="hidden-phone">&nbsp;</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for service in building.services %}
		{% valid_timestamp service.archive_date license as valid %}
		{% if valid %}
		{% if show_all or not service.archived %}
		{% if not service.one_time %}
			<tr {% if service.archived %}class="archived"{% endif %}>
				<td>
					{% if is_administrator and service.can_edit %}
					<a href="javascript:editDialog('{% url 'edit_billable_general' entity_id=service.id %}')">{{ service }}</a>
					{% else %}
					{{ service }}
					{% endif %}
				</td>
				<td class="hidden-phone"><a href="{% url 'supplier_view' service.supplier.id %}">{{ service.supplier.name }}</a></td>
				<td class="hidden-phone">{{ service.billed }}</td>
				<td class="{% if service.balance < 0 %}negative_balance{% else %}positive_balance{% endif %}"><a href="{% url 'operation_list' building_id=building.id account_id=service.account.id %}">{{ service.balance|floatformat:2 }}</a></td>
				{% if is_administrator %}
				<td class="hidden-phone">
					{% if not service.archived %}
					<div class="btn-group">
						<button class="btn btn-mini btn-inverse" type="button" onclick="editDialog('{% url 'new_invoice' entity_id=service.id %}')"><i class="icon-plus-sign icon-white"></i> Factură</button>
					</div>
					{% endif %}
					<div class="btn-group">
					    {% if service.can_delete %}<button class="btn btn-mini btn-danger" data-target="#deleteModal" data-toggle="modal" role="buton" onclick="delete_click('{% url 'edit_billable_general' entity_id=service.id %}');"><i class="icon-trash icon-white"></i></button>{% endif %}
					</div>
				</td>
				{% endif %}
			</tr>
		{% endif %}
		{% endif %}
		{% endif %}
		{% endfor %}
	</tbody>
</table>
<div class="container hidden-phone">
	<div class="pull-right">
		<a href="{% if show_all %}{% url 'service_list' building.id %}{% else %}{% url 'all_service_list' building.id %}{% endif %}" class="btn{% if show_all %} active{% endif %}">Toate serviciile</a>
		{% if is_administrator and license.available_suppliers %}
		<button class="btn btn-info" type="button" onclick="editDialog('{% url 'new_billable_general' building.id %}')">Serviciu nou</button>
		{% endif %}
	</div>
</div>
{% endblock %}