body {
	padding-top: 60px;
	padding-bottom: 40px;
}

input[id^="id_captcha"] {
	width: 123px;
}

.apartment-cell {
	border-top: none !important;
	border-bottom: 1px solid #dddddd;
}

.collection {
	color: rgb(180, 180, 180);
}

.control-group ul {
	list-style: none;
}

.modal-body .control-group {
	margin-bottom: 0;
}

.negative_balance,.negative_balance a {
	color: rgb(200, 0, 0);
}

.positive_balance,.positive_balance a {
	color: rgb(0, 0, 200);
}

.jumbotron {
	text-align: center;
}

.center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.btn-toolbar-apartment {
	margin-top: 0;
	margin-bottom: 0;
}

.tab-content-building {
	padding-bottom: 200px;
}

.habitam-alert {
	display: none;
}

.habitam-brand {
	padding: 0px 15px 2px !important;
	margin-top: -5px;
}

form.language {
	width: 100px;
	margin: auto;
}

select.language {
	font-size: 10px;
	width: 100px;
	height: 20px;
}

.language-container {
	margin-right: 0;
	margin-left: auto;
	width: 100px;
}

.footer .language-container {
	margin-top: -20px;
}

.login-box .language-container {
	margin-bottom: 0;
	margin-top: auto;
	padding-top: 20px;
}

.login-box {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 240px;
	border: 1px solid #e5e5e5;
	padding: 20px 20px 0 20px;
	background-color: #fff;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	background-color: #fff;
}

.login-box .auth-button {
	width: 240px;
}

.login-box input {
	width: 199px;
}

.login-box .logo {
	margin-bottom: 20px;
	margin-left: 50px;
}

.login-box p {
	color: #a5a5a5;
	text-align: center;
}

.login-box .social {
	width: 80px;
}

.navbar-inner {
	padding-top: 5px;
}

.archived {
	text-decoration: line-through;
}

.stick-to-next {
	margin-bottom: 0 !important;
}

.services-without-invoice {
	color: red;
}