body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.negative_balance {
	color: rgb(200, 0, 0);
}

.positive_balance {
	color: rgb(0, 0, 200);
}

.jumbotron {
	text-align: center;
}

.center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.btn-toolbar-apartment {
	margin-top: 0;
	margin-bottom: 0;
}

.tab-content-building {
	padding-bottom: 200px;
}

.habitam-brand {
	padding: 0px 15px 2px !important;
	margin-top: -5px;
}

.navbar-inner {
	padding-top: 5px;
}