body {
	padding-top: 60px;
	padding-bottom: 40px;
}

input[id^="id_captcha"] {
	width: 123px;
}

.collection {
	color: rgb(180, 180, 180);
}

.field_title {
	position: relative;
	top: -15px;
	left: -20px;
	width: 150px;
	padding-left: 10px;
	background-color: #ddd;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
}

.field_value {
	position: relative;
	margin: 15px 0;
	padding: 14px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.modal-body .control-group {
	margin-bottom: 0;
}

.negative_balance,.negative_balance a {
	color: rgb(200, 0, 0);
}

.positive_balance,.positive_balance a {
	color: rgb(0, 0, 200);
}

.jumbotron {
	text-align: center;
}

.center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.btn-toolbar-apartment {
	margin-top: 0;
	margin-bottom: 0;
}

.tab-content-building {
	padding-bottom: 200px;
}

.habitam-brand {
	padding: 0px 15px 2px !important;
	margin-top: -5px;
}

.navbar-inner {
	padding-top: 5px;
}

.archived {
	text-decoration: line-through;
}

.stick-to-next {
	margin-bottom: 0 !important;
}

.services-without-invoice {
	color: red;
}